body{
	background-image: url(background-image7.jpg);
    background-size: cover;
}
img{
	width: 350px;
	height: 300px;
	margin: 10px;
	transition: 1s;


}
img:hover {
	transform: scale(1.1);
    transform:translate(20px,20px);
}

.animal{
	display: flex;
	flex-wrap:wrap;
	justify-content: center;
}
h1{

	font-family: fantasy;
	font-size: 3em;
    border-bottom: 2px solid green;
    width: 240px;
    text-align: center;
    border-right:2px solid green; 
    box-shadow: 20px 20px 20px #8888;
    margin-top: 10px;
   
}